## [10 Questions] QUIZ - Tuple

**Q 1:**

Define a function named **create_tuple**.

It will create a tuple of numbers from 1 to 10.

Then it will add numbers from 11 to 20 to this tuple.

And it will return the final form of the tuple.

**Hints:**
* Tuples are Immutable. So how do you add elements to a Tuple?
* use `for` loop
* `range()`

<pre style="background: gold;">
Result: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
</pre>

In [13]:
# S 1:
def create_tuple():
    
    #create a tuple
    add_numbers= (11,12,13,14,15,16,17,18,19,20)
    
    #create empty list
    numbers = []
    
    #add items
    for i in range(1,11):
        numbers.append(i)
        
        #create a new temp tuple
        num = tuple(numbers)
        
        #create a the new tuple via addition
        tup = num + add_numbers
    
    return tup

create_tuple()

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

---

**Q 2:**

Define a function named **tuple_to_string**.

It will take a Tuple as parameter and convert it into a String.

Then it will return this String.

**Hints:**
* `join()`

<pre style="background: gold;">
Parameter:
t = ('M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

Expected Output: Machine Learning
</pre>

In [38]:
# S 2:
def tuple_to_string(tup):
    str = ''.join(tup)
    return str

tup=('M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

tuple_to_string(tup)

'Machine Learning'

In [40]:
tup=('h', 'e', 'l', 'l', 'o', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y','o','u')

tuple_to_string(tup)

'hello how are you'

---

**Q 3:**

Define a function named **string_to_list_to_tuple**.

It will take String as parameter.

First it will convert this String into a List, then it will convert this List into a Tuple.

Finally it will return the Tuple.

**Hints:**
* only use `constructor` methods
    * list()
    * tuple()
    
<pre style="background: gold;">
Parameter:
pythons_father = 'Guido van Rossum'

Expected Result: ('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')
</pre>

In [14]:
# S 3:
def string_to_list_to_tuple(pythons_father):
    
    # first String -> List
    list_ = list(pythons_father)
    
    # now List -> Tuple
    tup = tuple(list_)
    
    return tup

pythons_father = "hello, how are you"

tup = string_to_list_to_tuple(pythons_father) 

print(tup)

('h', 'e', 'l', 'l', 'o', ',', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')

In [15]:
pythons_father = 'Guido van Rossum'

father_tuple = string_to_list_to_tuple(pythons_father)

print(father_tuple)

('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')

---

**Q 4:**

Define a function named **how_many_instances**.

It will take a Tuple and an index (int) as parameter.

Function will first find the element at that index.

Then it will return the number of instances of the element in the Tuple.

**Hints:**
* count()

<pre style="background: gold;">
Parameters:
t = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
i = 1

how_many_instances(t, i)

Expected Output: 4
</pre>

function returning a function
raise
index()

In [20]:
def how_many_instances(tup, i_nd):
    
    # get the element at index
    elem = tup[i_nd]
    
    #return count
    return tup.count(elem)

tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)

i_nd = 1

how_many_instances(tup, i_nd)

4

In [37]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)

i_nd = 7

how_many_instances(tup, i_nd)

3

---

**Q 5:**

Slicing Operations in Tuples are exactly the same as in Lists and Strings.

Our Tuple is:

<pre> tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j') </pre>

Find the items in tup, based on slicing and indexing:
1. items from position 4 (inc) to position 7 (inc)
2. the first 5 items
3. items from position 6 (inc)
4. all items
5. 2nd item from the last
6. last 4 items
7. items from position 2 to 8, with step size 2
8. all items with step size 3
9. items from position 9 to position 3 (exc) but in reverse order
10. print the tup in reverse order
11. print the tup in reverse order with step size 2
12. all the elements excluding the last one, with negative index

In [41]:
# S:

tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j') 
tup

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

In [42]:
# 1. items from position 4 (inc) to position 7 (inc)
# position 4 -> index 3
# position 7 -> index 6  (since it is included the end index will be 7)

tup[3:7]

('d', 'e', 'f', 'g')

In [207]:
# 2. the first 5 items

tup[0:5]

('a', 'b', 'c', 'd', 'e')

In [23]:
# 3. items from position 6 (inc)

tup[-5:]

('f', 'g', 'h', 'i', 'j')

In [26]:
# 4. all items

new_tup = tup[::]
new_tup

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

In [18]:
# 5. 2nd item from the last

tup[-2]

'i'

In [22]:
# 6. last 4 items

tup[-4:]

('g', 'h', 'i', 'j')

In [24]:
# 7. items from position 2 to 8, with step size 2

tup[1:9:2]

('b', 'd', 'f', 'h')

In [25]:
# 8. all items with step size 3

tup[::3]

('a', 'd', 'g', 'j')

In [43]:
# 9. items from position 9 to position 3 (exc) but in reverse order

inv_tup = tup[8:2:-1]

inv_tup

('i', 'h', 'g', 'f', 'e', 'd')

In [44]:
# 10. print the tup in reverse order

inv_tup = tup[::-1]
inv_tup

('j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [45]:
# 11. print the tup in reverse order with step size 2

inv_tup = tup[9::-2]
inv_tup

('j', 'h', 'f', 'd', 'b')

In [46]:
# 12. all the elements excluding the last one, with negative index

new_tup = tup[-10:-1:1]
new_tup

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

---

**Q 6:**

Define a function named **change_tuple_ending**.

It will take a List as parameter.

The elements of this list will be Tuples.

Each Tuple may be in different length, so the size of the elements in the list is not fixed.

The function will replace the last item in each Tuple element in the list with its square.

**Hints:**
* Mutate the original list (the parameter list will change in-place)
* How can you get last element in a Tuple?
* How to mutate the list, while looping over it?
* You need to find a way to mutate the list (enumerate())
* How to create a Tuple with single element?

<pre style="background: gold;">
Parameter:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]

Expected Output:
tuple_list = [(2,5,64), (4,9), (1,7,9,36), (25,)]
</pre>

In [21]:
# S 6:
def change_tuple_ending(a_list):
    
    for index, tup in enumerate(a_list):
        
        # get the tuple items up to the last one
        items_up_to_last = tup[:-1]
        
        # last element -> square it
        last_item = tup[-1]**2
        
        # concat them -> override tup
        tup = items_up_to_last + (last_item,)
        
        # mutate the list -> change the current element
        a_list[index] = tup

In [23]:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (6,), (2, 16)]
print('tuple_list before passing to function:', tuple_list)

change_tuple_ending(tuple_list)
print('tuple_list after passing to function:', tuple_list)

tuple_list before passing to function: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (6,), (2, 16)]
tuple_list after passing to function: [(2, 5, 64), (4, 9), (1, 7, 9, 36), (36,), (2, 256)]

---

**Q 7:**

Define a function named **replace_tuple_with_sqaure**.

It will taka a List as parameter.

The items in this List are Tuples.

Each Tuple may be in different length, so the size of the elements in the list is not fixed.

The function will replace each element of Tuples with its square.

And it will return the new list of squared Tuples.

**Hint:**
* Do not change the parameter
* How to mutate the list while looping over it?

<pre style="background: gold;">
Parameter:
tuple_liste = [(2,5,8), (4,3), (1,7,9,6), (5,)]

Expected Output:
new_tuple_list = [(4,25,64), (16,9), (1,49,81,36), (25,)]
</pre>

In [26]:
# S 7:
def replace_tuple_with_sqaure(tuple_list):
    
    #comprehension
    #loop over the tup items
    # mutate the list
    new_list = ([[y**2 for y in x] for x in tuple_list])
    
    return new_list


tuple_list = [(4,5,8), (4,7), (2,7,9,6), (5,), (10,11)]

new_tuple_list = replace_tuple_with_sqaure(tuple_list)

print('tuple_list:', tuple_list)
print('new_tuple_list:', new_tuple_list)

tuple_list: [(4, 5, 8), (4, 7), (2, 7, 9, 6), (5,), (10, 11)]
new_tuple_list: [[16, 25, 64], [16, 49], [4, 49, 81, 36], [25], [100, 121]]

In [25]:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]

new_tuple_list = replace_tuple_with_sqaure(tuple_list)

print('tuple_list:', tuple_list)
print('new_tuple_list:', new_tuple_list)

tuple_list: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
new_tuple_list: [[4, 25, 64], [16, 9], [1, 49, 81, 36], [25]]

---

**Q 8:**

Define a function named **movie_characters**.

It will take 4 lists as parameters.

4 lists:
* List 1 -> Actor/Actress Name
* List 2 -> Movie Title
* List 3 -> Release Year
* List 4 -> Character Name

Function will take these 4 lists and create 2 Tuples out of them.

Each Tuple will have 2 elements.
* Tuple 1 -> (Actor/Actress Name, Character Name)
* Tuple 2 -> (Movie Title, Release Year)

It will use the Tuple 1 as the Key and Tuple 2 as the Value and craete a Dictionary.

And it will return this dictionary.

**Hints:**
* `zip()`

<pre style="background: gold">
Parameters:
actors = ['Marlon Brando', 'Heath Ledger', 'Natalie Portman', 'Emma Stone']
characters = ['Don Vito Corleone', 'Joker', 'The Swan Queen', 'Mia']
movies = ['The Godfather', 'The Dark Knight', 'Black Swan', 'La La Land']
years = [1972, 2008, 2010, 2016]

Expected Output:
{('Marlon Brando', 'Don Vito Corleone'): ('The Godfather', 1972),
 ('Heath Ledger', 'Joker'): ('The Dark Knight', 2008),
 ('Natalie Portman', 'The Swan Queen'): ('Black Swan', 2010),
 ('Emma Stone', 'Mia'): ('La La Land', 2016)}
</pre>

In [28]:
# S 8:
def movie_characters(actors, characters, movies, years):
    
    # empty dict
    movie_dict = {}
    
    # loop over the 4 list simultaniously -> zip()
    for a, c, m, y in zip(actors, characters, movies, years):
        
        # create and add tuples into dictionary
        movie_dict[(a, c)] = m, y
        
    return movie_dict

In [29]:
# lists:
actors = ['Marlon Brando', 'Heath Ledger', 'Natalie Portman', 'Emma Stone']
characters = ['Don Vito Corleone', 'Joker', 'The Swan Queen', 'Mia']
movies = ['The Godfather', 'The Dark Knight', 'Black Swan', 'La La Land']
years = [1972, 2008, 2010, 2016]

# call the functions
movie_update = movie_characters(actors, characters, movies, years)

movie_update

{('Marlon Brando', 'Don Vito Corleone'): ('The Godfather', 1972),
 ('Heath Ledger', 'Joker'): ('The Dark Knight', 2008),
 ('Natalie Portman', 'The Swan Queen'): ('Black Swan', 2010),
 ('Emma Stone', 'Mia'): ('La La Land', 2016)}

---

**Q 9:**

Define a function named **sort_tuple_of_tuples**.

It will take a Tuple as the parameter.

The elements inside this Tuple are also Tuples.

Namely, the parameter is a Tuple of Tuples.

Each Tuple element contains 2 items.

The function will sort the main Tuple and return a sorted Tuple.

Sort Rule is going to be the second element in the inner Tuples.

**Hints:**
* `lambda`

<pre style="background: gold">
Parameter:
tuple_of_tuples = (('a', 12), ('e', 8), ('b', 16), ('c', 22))

Expected Output:
[('e', 8), ('a', 12), ('b', 16), ('c', 22)]
</pre>

In [30]:
# S 9:


def sort_tuple_of_tuples(tuple_of_tuples):
    
    # print(tuple_of_tuples[3][0])
    
    # x -> ('c', 22) 
    # x[1] -> 22
    return tuple(sorted(tuple_of_tuples, key = lambda x:x[1]))


tuple_of_tuples = (('a', 22), ('e', 4), ('b', 16), ('c', 12))

sort_tuple_of_tuples(tuple_of_tuples)

(('e', 4), ('c', 12), ('b', 16), ('a', 22))

In [31]:
tuple_of_tuples = (('a', 12), ('e', 8), ('b', 16), ('c', 22))

sorted_tuple = sort_tuple_of_tuples(tuple_of_tuples)

sorted_tuple

(('e', 8), ('a', 12), ('b', 16), ('c', 22))

---

**Q 10:**

Define a function named **number_of_occurences**.

It will take Tuple of integers and a number as parameters.

It will return the number of occurences of that number in the Tuple.

It will use the function defined in Q4 (how_many_instances) to find the count. (It will not do the counting itself.)

If the number does not exist in the Tuple, it will return: 'Number not in Tuple!'.

**Hints:**
* function returning a function
* raise
* index()

<pre style="background: gold">
Parameters:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
num = 2

Expected Output:
4
</pre>

In [33]:
# S 10:
def number_of_occurences(tup, num):
    
    for i in tup:
        i==num
        
        # check if the num is in tup
        if num not in tup:
             raise Exception('Number not in Tuple!')
        else:
            # return the function
            return tup.count(num)
        
                
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2, 6, 3, 9, 5, 9, 9)

num = 9

number_of_occurences(tup, num)

3

In [34]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)

num = 2

number_of_occurences(tup, num)

4

In [35]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2, 5)
num = 5

number_of_occurences(tup, num)

3

In [36]:
# When the number is not in Tuple

tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
num = 99

number_of_occurences(tup, num)

Exception: Number not in Tuple!